:root {
    --ratio:1.8;
    --s-5:calc(var(--s0)/var(--ratio)/var(--ratio)/var(--ratio)/var(--ratio)/var(--ratio));
    --s-4:calc(var(--s0)/var(--ratio)/var(--ratio)/var(--ratio)/var(--ratio));
    --s-3:calc(var(--s0)/var(--ratio)/var(--ratio)/var(--ratio));
    --s-2:calc(var(--s0)/var(--ratio)/var(--ratio));
    --s-1:calc(var(--s0)/var(--ratio));
    --s0:1rem;
    --s1:calc(var(--s0)*var(--ratio));
    --s2:calc(var(--s0)*var(--ratio)*var(--ratio));
    --s3:calc(var(--s0)*var(--ratio)*var(--ratio)*var(--ratio));
    --s4:calc(var(--s0)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio));
    --s5:calc(var(--s0)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio)*var(--ratio));
    --measure:65ch;
    --line-height:var(--ratio);
    --line-height-small:calc(0.8*var(--ratio));
    --border-thin:var(--s-5);
    --border-thick:var(--s-2);
    line-height:var(--ratio);
    background-color:var(--color-light);
    color:var(--color-dark)
}
html {
    --base: calc(0.85rem + 0.5vw);
    font-size: var(--base);
    line-height: calc(var(--base) * 1.85);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    ms-overflow-style: -ms-autohiding-scrollbar;
}